.grid > * {
  background-color: #4d7298;
  color: #fff;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  padding: 00.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
